h1 {
    
    margin: 100px;
    margin-bottom: 50px;
    
    
}

h2 {
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: lighter;
}
.small_blue {
    font-size: 0.7em;
    font-weight: lighter;
    color: teal;
    margin-bottom: 0px;
}
.text_color {
    color: rgb(95, 92, 92);
}
.job_title {
    margin-top: 5px;
    font-size: 0.65em;
}
.summary {
    font-size: 0.6em;
}