header {
    border: 1px solid black;
}
 nav {
    border: 1px solid red;
 }
section {
    border: 1px solid rgb(31, 139, 172); 
}

article {
    border: 1px solid green;
   
   
}
aside {
    border: 1px solid blue;
    display: inline-block;
    width: calc(50% - 4px - 2px);

}
.content {
    border: 2px solid purple;
    padding: 6px;
    box-sizing: border-box;
    width: 200px;
    margin: 10px;
}
.type {
    display: inline-block;
    width: 50%;
}